
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active" *ngFor="let link of navLinks; let i = index">
              <a  [routerLink]="link.link" >{{link.label}}</a></li>
          </ul>
          <button md-mini-fab color="accent" class="pull-right" [mdMenuTriggerFor]="appMenu" >
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #appMenu="mdMenu" yPosition="above">
            <button md-menu-item> Settings </button>
            <button md-menu-item> Help </button>
          </md-menu>
        </div>


      </div>

    </nav>


