<div class="row">
      <app-recipe-list class="col-md-5"></app-recipe-list>
      <app-recipe-detail *ngIf="selectedRecipe;else infotext" [recipe]="selectedRecipe"></app-recipe-detail>
      <ng-template #infotext>
        <p> Select a Recipe</p>
      </ng-template>
</div>
