<md-card style="cursor: pointer">
  <md-card-title-group>
    <md-card-title>{{recipe.name}}</md-card-title>
    <md-card-subtitle>{{recipe.description}}</md-card-subtitle>
    <img md-card-sm-image [src]="recipe.imagePath">
  </md-card-title-group>
</md-card>
