<h3> Shopping list</h3>
<app-shopping-edit ></app-shopping-edit>
<md-list class="col-md-5">
  <md-list-item>
    <md-card class="list-group-item" *ngFor="let ing of ingredients">
      <md-card-content>
        <p>{{ing.name}} ({{ing.amount}})</p>
      </md-card-content>
    </md-card>
  </md-list-item>
</md-list>
