
<md-list class="col-xs-12">
  <md-list-item>
    <button md-raised-button color="primary" >New Recipe</button>
  </md-list-item>
  <md-list-item class="list-group-item" *ngFor="let recipe of recipes" (click)="onRecipeSelected(recipe)">
      <app-recipe-item [recipe]="recipe"></app-recipe-item>
  </md-list-item>
</md-list>
