<md-card class="col-md-5">
    <md-card-title>
      <span>{{recipe.name}}</span>
      <button md-fab [mdMenuTriggerFor]="editMenu" >
        <span>Manage Recipes</span>
      </button>
      <md-menu #editMenu="mdMenu" yPosition="above">
        <button md-menu-item (click)="addToShoppingList()">
          <md-icon>edit</md-icon>
          <span>To Shopping List</span>
        </button>
        <button md-menu-item>
          <md-icon>delete</md-icon>
          <span>Delete recipe</span>
        </button>
      </md-menu>
    </md-card-title>
  <img md-card-md-image [src]="recipe.imagePath">
  <md-card-content>
    <div class="row"><div class="col-xs-12">
      {{recipe.description}}
    </div></div>
    <div class="row">
      <div class="col-xs-12">
        <md-list class="col-xs-12">
           <md-list-item class="list-group-item" *ngFor="let ing of recipe.ingredients" >
             <p>{{ing.name}} - ({{ing.amount}})</p>
           </md-list-item>
        </md-list>
      </div>
    </div>
  </md-card-content>

</md-card>
