<div class="row">

  <form class="example-form">
    <md-input-container class="col-md-3">
      <textarea mdInput placeholder="Name" #nameInput></textarea>
    </md-input-container>

    <md-input-container class="col-md-1">
      <textarea mdInput placeholder="Amount" #amountInput></textarea>
    </md-input-container>

    <button color="primary" (click)="onAdd(nameInput.value, amountInput.value)">Add</button>
    <button color="warn">Delete</button>
    <button color="accent">Clear</button>
  </form>

</div>
